<div class="h-screen flex justify-center items-center">
    <p-card header="Entrar" class="w-auto">
        <form>
            <div class="p-inputgroup">
                <span class="p-inputgroup-addon">
                    <i class="bi bi-person-fill"></i>
                </span>
                <input pInputText placeholder="Nome" />
            </div>
            <div class="p-inputgroup mt-3">
                <input pInputText type="password" placeholder="Senha" />
                <button type="button" pButton label="Search" class="bg-primary"></button>
            </div>
        </form>
    </p-card>
</div>